.contribution-graph {
    display: flex;
    flex-direction: column;
    color: #bcbcbc;
    font-size: 13px;
}

.contribution-graph_legend {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.contribution-graph_modal {
    position: absolute;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    padding: 7px;
    border-radius: 5px;
    width: max-content;
    white-space: nowrap;
}

.contribution-graph_modal_contrib-num {
    color: white;
}

.contribution-graph_modal_date {
    margin-top: 2px;
    font-size: 10px;
}

.contribution-graph_modal_pointer-head,
.contribution-graph_modal_pointer-foot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: black;
    rotate: 45deg;
}

.contribution-graph_modal_pointer-head {
    display: none;
    top: -5px;
}

.contribution-graph_modal_pointer-foot {
    bottom: -5px;
}

.contribution-graph_data-container {
    border-spacing: 0;
    width: max-content;
    overflow: scroll;
}

.contribution-graph_month-row {

}

.contribution-graph_month-cell {
    padding-left: 7px;
}

.contribution-graph_day-row {
    line-height: 0;
}

.contribution-graph_day-of-week {
    text-align: end;
    padding-right: 5px;
}

.contribution-graph_day {
    width: 15px;
    height: 15px;
    padding: 0;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

.contribution-graph_day:hover {
    border-color: #7f7f7f;
}

.contribution-graph_day_selected {
    border-color: black;
}

.contribution-graph_day,
.contribution-graph_day_contrib-0 {
    background-color: #ededed;
}

.contribution-graph_day_contrib-1-plus {
    background-color: #acd5f2;
}

.contribution-graph_day_contrib-10-plus {
    background-color: #7fa8c9;
}

.contribution-graph_day_contrib-20-plus {
    background-color: #527ba0;
}

.contribution-graph_day_contrib-30-plus {
    background-color: #254e77;
}
